# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# OS
.DS_Store
Thumbs.db

# Données brutes volumineuses
# E2/data_market/data/*.csv

# Outputs générés
E2/data_market/outputs/*.csv
E2/data_market/outputs/*.db

# Logs
*.log
logs/

# Environnement
.env

# Fichiers temporaires
*.tmp
*.bak
temp/
tmp/

# Documentation générée
docs/_build/
